.output-printer {
  width: 100%;
  height: 500px;
  overflow: auto;
  background-color: #333;
  box-sizing: border-box;
  color: #bbb;

  pre {
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }

  .mod-bold {
    color: #eee;
  }

  .fg-green {
    color: #0d0;
  }

  .fg-yellow {
    color: #cc0;
  }

  .fg-red: {
    color: red;
  }

  .fg-blue: {
    color: blue;
  }

  .fg-magenta: {
    color: magenta;
  }

  .fg-black: {
    color: black;
  }
}
